install: true
language: java
jdk: oraclejdk8

services:
- postgresql

addons:
  postgresql: "10"
  apt:
    packages:
    - postgresql-10
    - postgresql-client-10

env:
  global:
  - PGPORT=5433

before_install:

# POSTGRESQL DB
- sudo sed -i -e '/local.*peer/s/postgres/all/' -e 's/peer\|md5/trust/g' /etc/postgresql/*/main/pg_hba.conf
- sudo sed -i 's/max_connections = 100/max_connections = 1000/g' /etc/postgresql/10/main/postgresql.conf
- sudo service postgresql restart

# WAIT
- sleep 2

before_script:
- psql -c 'CREATE DATABASE cts_tests_schema;' -U postgres

jobs:
  include:
  - stage: test
    script:
    - travis_wait 30m mvn test -e -T8 -DskipTests=false -Ddb.config.location=environment -Dtests.db.type=POSTGRESQL -Dtests.db.url=jdbc:postgresql://localhost:5433/cts_tests_schema -Dtests.db.username=postgres -Ppostgresql,jacoco-coverage
    - mvn spotbugs:check -T8

after_success:
- bash <(curl -s https://codecov.io/bash)

cache:
  directories:
  - $HOME/.m2
