<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30">
	<Properties>
		<Property name="logsFolder"/>
		<Property name="DEFAULT_PATTERN">%d %-5level %logger [%t] - %msg%n</Property>
	</Properties>

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${DEFAULT_PATTERN}"/>
		</Console>

		<RollingFile name="ctsAppender" fileName="${sys:logsFolder}logs/cts.log"
					 filePattern="${sys:logsFolder}logs/cts-%i.log">
			<PatternLayout pattern="${DEFAULT_PATTERN}"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB"/>
			</Policies>
			<DefaultRolloverStrategy max="10"/>
		</RollingFile>
		<Async name="ctsAsyncAppender">
			<AppenderRef ref="ctsAppender"/>
		</Async>
	</Appenders>

	<Loggers>
		<!-- Mercury DB driver -->
		<Logger name="com.mchange.v2" level="error" additivity="false">
			<AppenderRef ref="ctsAsyncAppender"/>
			<AppenderRef ref="console"/>
		</Logger>

		<!-- CTP -->
		<Logger name="com.microfocus.octane.cluster.tasks" level="info" additivity="false">
			<AppenderRef ref="ctsAsyncAppender"/>
			<AppenderRef ref="console"/>
		</Logger>

		<Root level="info">
			<AppenderRef ref="console"/>
			<AppenderRef ref="ctsAsyncAppender"/>
		</Root>
	</Loggers>
</Configuration>
